services:
  biz-mineru-svr:
    build:
      context: .
      dockerfile: Dockerfile
    image: biz-mineru-svr:1.1
    container_name: biz-mineru-svr
    ports:
      - "8091:8000"       # 主机端口:容器端口
    restart: unless-stopped
    
    # 环境变量
    # environment:
    #   - BASE_URL=http://172.17.30.21:8089

    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --workers 4